## Collections
> Lists, Dictionaries, Sets, Tuples and Associated Methods

### Set
A set is a collection which is unordered and unindexed.

In [17]:
s1 = set()
print("Empty Set: ", s1)

fruit_set = {"apple", "banana", "orange"}
print(fruit_set)

fruit_set.add("peach")
fruit_set.update(['grapefruit', 'mango'])
print(fruit_set)
fruit_set.remove('apple')
fruit_set.discard('orange')
fruit_set.discard('apple') # no error when using discard()
print(fruit_set)

Empty Set:  set()
{'orange', 'apple', 'banana'}
{'orange', 'grapefruit', 'peach', 'apple', 'mango', 'banana'}
{'grapefruit', 'peach', 'mango', 'banana'}

In [18]:
def set_partitions(s1, s2):
    # Output the elements that are in the two sets without repetitions. Print the result.
    union = s1|s2
    print(union)

# Test data
a={1,2,3,4,5}
b={4,5,6,7}

# run the function
set_partitions(a, b)

{1, 2, 3, 4, 5, 6, 7}

### Tuple
A tuple is a collection which is ordered and unchangeable.

In [19]:
tt= ()
print(tt)
tt = ("apple", "banana", "cherry")
print(tt)
print(type(tt))
print(tt[0])
print(tt[-1])

()
('apple', 'banana', 'cherry')
<class 'tuple'>
apple
cherry

### List

#### Example: List Methods

In [20]:
short_list = ['a','b','c']
long_list = [[1,2,3],[4,5,6],[7,8,9]]
l=[['a',[1,2,3]],['b',[4,5,6]],['c',[7,8,9]]]

In [21]:
print("return values from a list")
# Selecting items from a list
print(short_list[0])
# Selecting items from a nested list
print(l[2][0])
print(l[1][1][2])

return values from a list
a
c
6

In [22]:
# append() method
print('using append() method')
short_list.append('g')
print(short_list)
long_list.append([13,14,15])
print(long_list)

using append() method
['a', 'b', 'c', 'g']
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [13, 14, 15]]

In [23]:
# extend() method
print('using extend() method')
short_list.extend(['e','f'])
print(short_list)
long_list.extend([16,17,18])
print(long_list)

using extend() method
['a', 'b', 'c', 'g', 'e', 'f']
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [13, 14, 15], 16, 17, 18]

In [24]:
# pop() method
print('using pop() method')
short_list.pop(1)
print(short_list)
long_list.pop()
print(long_list)

using pop() method
['a', 'c', 'g', 'e', 'f']
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [13, 14, 15], 16, 17]

In [25]:
# remove() method
print('using remove() method')
short_list.remove('c')
print(short_list)
long_list.remove([13,14,15])
long_list.remove(17)
print(long_list)

using remove() method
['a', 'g', 'e', 'f']
[[1, 2, 3], [4, 5, 6], [7, 8, 9], 16]

#### Example: Loop over a Nested List

In [26]:
lst1 =[[1,2,3],[4,5,6],[7,8,9]]

In [27]:
print('looping over elements in a list')
for i in lst1:
  print(i)

looping over elements in a list
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [28]:
print('looping over elements in a nested list')
empty = []
for i in lst1:
  for j in i:
    empty.append(j)
print(empty)

looping over elements in a nested list
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print('using extend() method')
def destructure(lst):
  result = []
  for i in lst:
    result.extend(i)
  return result
destructure(lst1)

using extend() method

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Exercise: Destructure and Lower

In [30]:
def destructure_lower(lst):
    # Access the word 'SIX'
    print(lst[1][2])

    # Destructure the list
    result=[]
    for i in lst:
      result.extend(i)
    print(result)

    # Change all items to lowercase
    lower = []
    for i in result:
      lower.append(i.lower())
    print(lower)


l=[['ONE','TWO','THREE'],['FOUR','FIVE','SIX'],['SEVEN','EIGHT','NINE']]
destructure_lower(l)

SIX
['ONE', 'TWO', 'THREE', 'FOUR', 'FIVE', 'SIX', 'SEVEN', 'EIGHT', 'NINE']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

### Dictionary

#### Example: Dictionary Methods

In [31]:
fruit={
    'apple': 1.25,
    'orange': .75,
    'banana': .50
}

In [32]:
# Use the appropriate method to return the price of an apple.
print("return values from a dictionary")
print(fruit['apple'])
print(fruit.get('apple'))

return values from a dictionary
1.25
1.25

In [33]:
# Add a pear with a price of .95 to the dictionary
print("adding 'pear: 0.95' into dictionary")
fruit['pear']=.95
print(fruit)

adding 'pear: 0.95' into dictionary
{'apple': 1.25, 'orange': 0.75, 'banana': 0.5, 'pear': 0.95}

In [34]:
# Remove the entry for banana from the dictionary
print("removing 'banana' and 'orange' from dictionary")
fruit.pop('banana')
del(fruit['orange'])
print(fruit)

removing 'banana' and 'orange' from dictionary
{'apple': 1.25, 'pear': 0.95}

In [35]:
# Return all the keys for the inventory dictionary
print(fruit.keys())
# or use iteration
for i in fruit:
  print(i)

k=[]
for i in fruit:
    k.append(i)
print(k)

dict_keys(['apple', 'pear'])
apple
pear
['apple', 'pear']

In [36]:
# Return all the values for the inventory dictionary
print(fruit.values())
# or use iteration
for i in fruit:
  print(fruit[i])

v=[]
for i in fruit:
    v.append(fruit[i])
print(v)

dict_values([1.25, 0.95])
1.25
0.95
[1.25, 0.95]

In [37]:
# Check if 'apple' is in the collection
if 'apple' in fruit:
  print("Yes, 'apple' is in this collection!")
else:
  print("No, 'apple' is not in this collection!")

Yes, 'apple' is in this collection!

#### Example: Looping over a Dictionary

In [38]:
mca = {
    'AAPL':538.7,
    'GOOG':68.7,
    'IONS':4.6
}

In [39]:
print('accessing all keys')
for key in mca:
    print(key)

accessing all keys
AAPL
GOOG
IONS

In [40]:
print('accessing all values')
for key in mca:
    print(mca[key])

accessing all values
538.7
68.7
4.6

In [41]:
print('another way to access keys and values')
for i in mca.items():
    print(i)
    # print(type(i))

another way to access keys and values
('AAPL', 538.7)
('GOOG', 68.7)
('IONS', 4.6)

In [42]:
print('accessing the keys by indices in the tuples')
lk=[]
for k in mca.items():
    # print(k[0])
    lk.append(k[0])
print(lk)

accessing the keys by indices in the tuples
['AAPL', 'GOOG', 'IONS']

In [43]:
print('accessing the values by indices in tuples')
lv=[]
for v in mca.items():
    # print(v[1])
    lv.append(v[1])
print(lv)

accessing the values by indices in tuples
[538.7, 68.7, 4.6]

#### Example: Collecting Data

In [44]:
vals = {
    'AAPL':[538.7, 531.5, 536.4],
    'GOOG':[67.1, 68.7, 68.6],
    'IONS':[4.6, 4.6, 4.4]
}

In [45]:
results=[]
for i in vals:
    results.extend(vals[i])
print(results)

[538.7, 531.5, 536.4, 67.1, 68.7, 68.6, 4.6, 4.6, 4.4]

In [46]:
from numpy import mean
print(mean(results))

def find_mean(lst):
  mean_lst = []
  for i in lst:
    m = mean(lst[i])
    mean_lst.append(round(m,2))
  return mean_lst

print(find_mean(vals))
print(type(find_mean(vals)))

202.73333333333335
[535.53, 68.13, 4.53]
<class 'list'>

### Exercise: Word Order Reversal

Write a function called word_reverse() that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:
'My name is Michele'
Then I would see the string:
'Michele is name My'
shown back to me.

In [47]:
def reverse(str):
    print(' '.join(str.split()[::-1]))

a = "I am Slim Shady"
reverse(a)

Shady Slim am I

In [48]:
def reverse(str):
    stack = str.split()
    result = []
    while stack:
        result.append(stack.pop())
    print(' '.join(result))

a = "I am Slim Shady"
reverse(a)

Shady Slim am I

In [49]:
def reverse(str):
  x = str.split()
  z = []
  for i in x:
    z.insert(0,i)
  print(' '.join(z))


a = "I am Slim Shady"
reverse(a)

Shady Slim am I

#### Example: Slicing and Reversing

In [50]:
my_string = "abcdefgh"
# Reversing only a part of the string
print(my_string[2:7][::-1])
print(my_string[6:1:-1])

gfedc
gfedc

### Exercise: Insurance Policy
Suppose your apartment was burglarized. The insurance guy calls to discuss your policy, which is limited to cover a particular maximum in losses (for example, $50,000). You calculate the bill for the difference you lost.
Given an dictionary of the stolen items and a limit, return the difference between the total value of those items and the limit of the policy. Name the function calc_diff().

Notes: The dictionary data always contains at least an item (no empty objects). The sum of the items is always greater than the limit.

In [51]:
def calc_diff(d, lim):
  total = 0
  for i in d:
    total = total + d[i]
  return total - lim

In [52]:
# Test 1
d1={"skate": 10, "painting": 20, "computer": 899 }
lim1=900
calc_diff(d1, lim1) # 29

29

In [53]:
# Test 2
d2={"skate": 10, "painting": 20 }
lim2=19
calc_diff(d2,lim2) # 11

11

In [54]:
# Test 3
d3={"skate": 200, "painting": 200, "shoes": 1 }
lim3=350
calc_diff(d3,lim3) # 51

51

## Exercises

### Problem 1: List

In [55]:
def days():
    # a. Create an empty. Print the result.
    lst=[]
    print(lst)

    # b. Add string element "Monday" to list 'lst'.
    lst.append("Monday")
    print(lst)

    # c. Add string elements "Wednesday", "Thursday", "Thursday", "Friday", "Saturday", "Sunday", "Monday" into list 'lst' using one line of code.
    lst.extend(["Wednesday", "Thursday", "Thursday", "Friday", "Saturday", "Sunday", "Monday"])
    print(lst)

    # d. Insert the element "Tuesday" at the appropriate location in the list so that the days of the week are in order. Print the result.
    lst.insert(1, "Tuesday")
    print(lst)

    # e. Remove the last item in the list. Print the result.
    lst.pop()
    print(lst)

    # f. Remove the extra "Thursday" from the list. Print the result.
    lst.remove("Thursday")
    print(lst)


days()

[]
['Monday']
['Monday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

### Problem 2: Dictionary

In [56]:
def months_dict(dct):
    # a. Show how to access the value for a specified key, use June for an example. Print the result.
    print(dct["June"])

    # b. Print all of the keys for the dictionary without using the .keys() method. Store the keys in a list. Print the result.
    k = []
    for key in dct:
        k.append(key)
    print(k)

    # c. Print all of the values for the dictionary without using the .values() method. Store the values in a list. Print the result.
    v = []
    for value in dct:
        v.append(dct[value])
    print(v)

    # d. Find how many items (key:value pairs) are in the dictionary. Print the result.
    print(len(dct))

    # e. Add a new key value pair, "December":31, to the dictionary. Print the result.
    dct["December"] = 31
    print(dct)


months = {
    "January": 31,
    "February": 28,
    "March": 31,
    "April": 30,
    "May": 31,
    "June": 30,
    "July": 31,
    "August": 31,
    "September": 30,
    "October": 31,
    "November": 30,
}

months_dict(months)

30
['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']
[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30]
11
{'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 'November': 30, 'December': 31}

### Problem 3: Set

In [57]:
def set_operations():
    # a. Create an empty set, print the set and its data type
    s = set()
    print(s, type(s))

    # b. Create a set that contains values 1,2,3,4,5. Print the result.
    s = {1, 2, 3, 4, 5}
    print(s)

    # c. Add the value 6 to the set. Print the result.
    s.add(6)
    print(s)

    # d. Add multiple values 7,8,9 using 1 command to the set. Print the result.
    s.update([7, 8, 9])
    print(s)

    # e. Remove the 6 from the set by referencing the value itself. Print the result.
    s.remove(6)
    print(s)

    # f. Write a comment to explain why it is not possible to discard the 3 from the set by referencing the index.
    # You can't discard an element by referencing the index because sets are unordered, meaning they do not have index to reference elements.


set_operations()

set() <class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}

### Problem 4: Set Operations

In [58]:
def partitioning_sets(s1, s2):
    # a. Output the elements in s1 and s2 without repetitions. Print the result.
    union = s1 | s2
    print(union)

    # b. Output the values that are common to both sets. Print the result.
    interception = s1 & s2
    print(interception)

    # c. Output the values in set s1 that do not appear in set s2. Print the result.
    difference = s1 - s2
    print(difference)

    # d. Output the values in both sets without the common elements 4, 5. Print the result.
    symmetric_diff = s1 ^ s2
    print(symmetric_diff)


a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
partitioning_sets(a, b)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

### Problem 5: Stocks Calculation

In [59]:
def stock_calculations(lst):
    # a. Identify the symbol 'DPBE' using indexing. Print the result.
    print(lst[2][3])

    # b. program to destructure the array. Print the result.
    dest = []
    for i in lst:
        dest.extend(i)
    print(dest)

    # c. Change all of the symbols to lowercase using the .lower() method. Print the result.
    lower = []
    for i in dest:
        lower.append(i.lower())
    print(lower)


stocks = [
    ["TEUCF", "BBLKF", "NMM", "SAIA"],
    ["SALT", "SB", "TK", "NM", "ERA"],
    ["TCNAF", "URAL", "BRSWQ", "DPBE"],
    ["TOPS", "GNKWF", "AIRTW", "SHIPW"],
]

stock_calculations(stocks)

DPBE
['TEUCF', 'BBLKF', 'NMM', 'SAIA', 'SALT', 'SB', 'TK', 'NM', 'ERA', 'TCNAF', 'URAL', 'BRSWQ', 'DPBE', 'TOPS', 'GNKWF', 'AIRTW', 'SHIPW']
['teucf', 'bblkf', 'nmm', 'saia', 'salt', 'sb', 'tk', 'nm', 'era', 'tcnaf', 'ural', 'brswq', 'dpbe', 'tops', 'gnkwf', 'airtw', 'shipw']

### Problem 6: Average Stock Value
Write a function to calculate the average increase and the average decrease in stock values. **Return** the result as a list.

In [60]:
def avg_stock(data):
    from numpy import mean

    increase = []
    decrease = []
    for i in data:
        if data[i] >= 0:
            increase.append(data[i])
        else:
            decrease.append(data[i])
    round_inc = round(mean(increase))
    round_dec = round(mean(decrease))
    return [round_inc, round_dec]


sd = {
    "TEUCF": 6352,
    "BBLKF": 125,
    "NMM": 57,
    "SAIA": 53,
    "SALT": 48,
    "SB": 46,
    "TK": 45,
    "NM": 44,
    "ERA": 43,
    "TCNAF": -83,
    "URAL": -83,
    "BRSWQ": -80,
    "DPBE": -70,
    "TOPS": -59,
    "GNKWF": -53,
    "AIRTW": -51,
    "SHIPW": -46,
}
avg_stock(sd)

[757, -66]

### Problem 7: Stock Manipulation

In [61]:
def stock_manipulations(d):
    # a. Finding max and min
    d1 = d.copy()
    for i in d1:
      d1[i] = max(d[i])
    print(d1)

    d2 = d.copy()
    for i in d2:
      d2[i] = min(d[i])
    print(d2)

    # b. Percent difference
    result = []
    for i in d:
      pd = abs(((max(d[i])-min(d[i]))/min(d[i]))*100)
      if pd > 15:
        result.append(i)
    return(result)

In [62]:
se = {
    "TEUCF": [6352, 6171, 6053],
    "BBLKF": [109, 125, 111],
    "NMM": [52, 50, 57],
    "SAIA": [52, 53, 50],
    "SALT": [40, 49, 48],
    "SB": [39, 46, 46],
    "TK": [45, 43, 44],
    "NM": [44, 44, 43],
    "ERA": [43, 42, 43],
    "TCNAF": [-83, -81, -83],
    "URAL": [-83, -82, -81],
    "BRSWQ": [-80, -81, -79],
    "DPBE": [68, -70, 67],
    "TOPS": [-59, -59, -58],
    "GNKWF": [-53, -52, -53],
    "AIRTW": [-51, -49, -50],
    "SHIPW": [-46, -40, -47],
}

stock_manipulations(se)

{'TEUCF': 6352, 'BBLKF': 125, 'NMM': 57, 'SAIA': 53, 'SALT': 49, 'SB': 46, 'TK': 45, 'NM': 44, 'ERA': 43, 'TCNAF': -81, 'URAL': -81, 'BRSWQ': -79, 'DPBE': 68, 'TOPS': -58, 'GNKWF': -52, 'AIRTW': -49, 'SHIPW': -40}
{'TEUCF': 6053, 'BBLKF': 109, 'NMM': 50, 'SAIA': 50, 'SALT': 40, 'SB': 39, 'TK': 43, 'NM': 43, 'ERA': 42, 'TCNAF': -83, 'URAL': -83, 'BRSWQ': -81, 'DPBE': -70, 'TOPS': -59, 'GNKWF': -53, 'AIRTW': -51, 'SHIPW': -47}

['SALT', 'SB', 'DPBE']