## Math

In [ ]:
10 // 4

2

In [ ]:
4 % 2

0

In [ ]:
5 % 3

2

In [ ]:
small = [1, 2, 5]
large = [100, 200, 500]

print(min(small))
print(max(large))

1
500

In [ ]:
abs(-30)

30

In [ ]:
pow(2, 4)

16

In [ ]:
2**4

16

In [ ]:
round(123.856)

124

In [ ]:
round(123.856, 2)

123.86

In [ ]:
import math

In [ ]:
x = 5.25

math.ceil(x)

6

In [ ]:
math.floor(x)

5

In [ ]:
example_list = [1, 2, 3, 4]

math.fsum(example_list)

10.0

In [ ]:
math.sqrt(81)

9.0

## Variables

### Naming variables

In [ ]:
# Good ways to write variables
testvar = "Vanilla Swirl"
test_var = "Vanilla Swirl"
_test_var = "Vanilla Swirl"
testVar = "Vanilla Swirl"
TestVar = "Vanilla Swirl"
testVar2 = "Vanilla Swirl"

In [ ]:
# Bad ways to write variables

# 2testVar = 'Vanilla Swirl'
# test-Var2 = 'Vanilla Swirl'
# test Var2 = 'Vanilla Swirl'
# test,Var2 = 'Vanilla Swirl'

SyntaxError: invalid decimal literal (662056805.py, line 2)

### Basic Syntax

In [1]:
print("Hello", "World!", sep="\n")

Hello
World!

In [2]:
amount = 1234.5678
print("The amount is ${:,}".format(amount))  # Output: The amount is $1,234.57
print(f"The amount is ${amount:,.2f}")  # Output: The amount is $1,234.57

The amount is $1,234.5678
The amount is $1,234.57

In [3]:
# Assign multiple values to multiple variables
x, y, z = "Chocolate", "Vanilla", "Rocky Road"

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [4]:
# Assign one value to multiple variables
x = y = z = "Root Beer Float"

print(x)
print(y)
print(z)

Root Beer Float
Root Beer Float
Root Beer Float

In [5]:
ice_cream = ["Chocolate", "Vanilla", "Rocky Road"]
x, y, z = ice_cream

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [6]:
x = "Ice Cream"
y = " is"
z = " my favorite."
print(x + y + z)

x = "Ice Cream"
y = 2
print(x, y)

Ice Cream is my favorite.
Ice Cream 2

## Data Types

### Strings

In [ ]:
multiline = """
"That's so great!" said her sister. \n"Yeah it really is!" said brother
"""
print(multiline)

In [ ]:
"Hello World!"[0:5]

'Hello'

### Lists

> Ordered, Mutable, Heterogeneous, Duplicate

- **Ordered:** Maintain the order of the data insertion.
- **Mutable:** List is mutable and we can modify items.
- **Heterogeneous:** List can contain data of different types
- **Duplicate:** Allows duplicates data

In [ ]:
list_1 = [1, "Cat", ["Dog", 2, True]]
print(list_1)

list_1[2][0] = 20
list_1.append([0, 2])
# list_1.extend([0,2])

list_2 = [True, False]
print(list_1 + list_2)

[1, 'Cat', ['Dog', 2, True]]
[1, 'Cat', [20, 2, True], [0, 2], True, False]

### Tuple

> Ordered, Immutable, Heterogeneous, Duplicate

In [ ]:
tuple_1 = (1, 2, 3, 3)
tuple_2 = (4, 5, 6)
tuple_3 = tuple_1 + tuple_2

print(tuple_3)

### Sets

> Unordered, Mutable, Heterogeneous, Unique

In [ ]:
set_1 = {7, 1, 2, 3, 2, 1, "Carrot", "Carrot"}
print(set_1)

In [ ]:
# set_1.update(4)
set_1.update([4, 5])
print(set_1)

In [ ]:
set_1.discard(7)
# set_1.remove(7)
# will get error if it's not there
print(set_1)

In [ ]:
set_2 = {(1, 2, 3), 1, 2, 3}
# but list won't work -> unhashable
print(set_2)

#### Union (|), Intersection (&), Difference (-), and Symmetric Difference (^)

In [ ]:
daily_pints_log = {1, 2, 31, 2, 3, 4, 1, 2, 5, 6, 3, 2}
wifes_daily_pints_log = {1, 3, 5, 7, 3, 24, 5, 7, 3, 2, 0}

In [ ]:
print(daily_pints_log | wifes_daily_pints_log)

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [ ]:
print(daily_pints_log & wifes_daily_pints_log)

{1, 2, 3, 5}

In [ ]:
print(wifes_daily_pints_log - daily_pints_log)

{0, 24, 7}

In [ ]:
print(wifes_daily_pints_log ^ daily_pints_log)

{0, 4, 6, 7, 24, 31}

### Dictionary

> Ordered, Mutable, Heterogeneous, Unique keys

In [ ]:
# dictionaries
# Key/Value Pair

dict_cream = {
    "name": "Alex Freberg",
    "weekly intake": 5,
    "favorite ice creams": ["MCC", "Chocolate"],
}
print(dict_cream)
print(dict_cream["name"])

{'name': 'Alex Freberg', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}
Alex Freberg

In [ ]:
print(dict_cream.values())
print(dict_cream.keys())
print(dict_cream.items())

dict_values(['Alex Freberg', 5, ['MCC', 'Chocolate']])
dict_keys(['name', 'weekly intake', 'favorite ice creams'])
dict_items([('name', 'Alex Freberg'), ('weekly intake', 5), ('favorite ice creams', ['MCC', 'Chocolate'])])

In [ ]:
dict_cream["name"] = "Christine Freberg"
dict_cream.update({"weekly intake": 10, "weight": 300})
print(dict_cream)

del dict_cream["weight"]
print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 10, 'favorite ice creams': ['MCC', 'Chocolate'], 'weight': 300}
{'name': 'Christine Freberg', 'weekly intake': 10, 'favorite ice creams': ['MCC', 'Chocolate']}

### Converting Data Types

In [ ]:
num_int = 7
num_str = "7"
nun_str_conv = int(num_str)
type(nun_str_conv)

int

In [ ]:
num_sum = num_int + nun_str_conv
print(num_sum)

14

In [ ]:
list_type = [1, 2, 3]
type(list_type)

list

In [ ]:
type(tuple(list_type))

tuple

In [ ]:
type(set(list_type))

set

In [ ]:
dict_type = {"name": "Alex", "age": 28, "hair": "N/A"}
type(dict_type)

dict

In [ ]:
dict_type.items()

dict_items([('name', 'Alex'), ('age', 28), ('hair', 'N/A')])

In [ ]:
dict_type.values()

dict_values(['Alex', 28, 'N/A'])

In [ ]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [ ]:
type(list(dict_type.keys()))

list

In [ ]:
type(list(dict_type.values()))

list

In [ ]:
long_str = "I like to party"
set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}

## Operators

### Comparison Operators

- == (Equal): If the values of two operands are equal, then the condition becomes true.
- != (Not Equal): If values of two operands are not equal, then the condition becomes true.
- \> (Greater Than): If the value of the left operand is greater than the value of the right operand, then the condition becomes true.
- < (Less Than): If the value of the left operand is less than the value of the right operand, then the condition becomes true.
- \>= (Greater Than or Equal to): If the value of the left operand is greater than or equal to the value of the right operand, then the condition becomes true.
- <= (Less Than or Equal to): If the value of the left operand is less than or equal to the value of the right operand, then the condition becomes true.

### Logical Operators

- and: If both the operands are true, then the condition becomes true.
- or: If any of the two operands are true, then the condition becomes true.
- not: Reverses the logical state of the operand.

### Arithmetic Operators

- \+ (Addition): Adds values on either side of the operator.
- \- (Subtraction): Subtracts the right-hand operand from the left-hand operand.
- \* (Multiplication): Multiplies values on either side of the operator.
- / (Division): Divides the left-hand operand by the right-hand operand.
- % (Modulus): Returns the remainder of the division of the left-hand operand by the right-hand operand.
- \*\* (Exponent): Performs exponential (power) calculation on operators.
- // (Floor Division): The division of operands where the result is the quotient, and the digits after the decimal point are removed.

### Assignment Operators

- =: Assigns values from the right side operands to the left side operand.
- +=, -=, =, /=, %=, \*=, //=: These are compound assignment operators that perform an operation and then assign the result to the left operand.
  > For example, x += 3 is equivalent to x = x + 3.

### Membership Operators

- in: Evaluates to true if it finds a variable in the specified sequence and false otherwise.
- not in: Evaluates to true if it does not find a variable in the specified sequence and false otherwise.

### Identity Operators

- is: Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.
- is not: Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.

## If-Else Statements

In [1]:
height = 75

if height > 70:
    print("Very Tall")
elif height > 60:
    print("Tall")
else:
    print("Not Tall")

Very Tall

In [1]:
name = "Khoa"
weight = 45
height = 60
BMI = (weight * 703) / (height * height)
print(BMI)

if BMI > 0:
    if BMI < 18.5:
        print(name + ", you are underweight.")
    elif BMI <= 24.9:
        print(name + ", you are normal weight.")
    elif BMI < 29.9:
        print(
            name
            + ", you are overweight. You need to exercise more and stop sitting and writing so many python tutorials."
        )
    elif BMI < 34.9:
        print(name + ", you are obese.")
    elif BMI < 39.9:
        print(name + ", you are severely obese.")
    else:
        print(name + ", you are morbidly obese.")
else:
    print("Enter valid input")

8.7875
Khoa, you are underweight.

## While Loops

In [12]:
number = 0
while number < 5:
    print(number)
    if number == 3:
        break
    number = number + 1
else:
    print("No longer < 5")

0
1
2
3

In [8]:
number = 0
while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print("No longer < 5")

1
2
4
5
No longer < 5

## For Loops

In [5]:
scores = [85, 90, 60]
for score in scores:
    if score >= 75:
        print(score, "Good Grade")
    else:
        print(score, "Bad Grade")

85 Good Grade
90 Good Grade
60 Bad Grade

In [ ]:
ice_cream_dict = {
    "name": "Alex Freberg",
    "weekly intake": 5,
    "favorite ice creams": ["MCC", "Chocolate"],
}
for key, value in ice_cream_dict.items():
    print(key, "->", value)

name -> Alex Freberg
weekly intake -> 5
favorite ice creams -> ['MCC', 'Chocolate']

### Nested For Loops

In [4]:
flavors = ["Vanilla", "Chocolate"]
toppings = ["Hot Fudge", "Oreos", "Marshmallows"]
for one in flavors:
    for two in toppings:
        print(one, "topped with", two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmallows
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmallows

### List Comprehension

In [ ]:
ice_cream = ["Vanilla", "Chocolate", "Chocolate Fudge", "Strawberry", "Choco Swirl"]
chocolate_flavors = []

for flavors in ice_cream:
    if "Choco" in flavors:
        chocolate_flavors.append(flavors)

print(chocolate_flavors)

['Chocolate', 'Chocolate Fudge', 'Choco Swirl']

In [ ]:
ice_cream = ["Vanilla", "Chocolate", "Chocolate Fudge", "Strawberry", "Choco Swirl"]

chocolate_flavors = [flavors for flavors in ice_cream if "Choco" in flavors]

print(chocolate_flavors)

['Chocolate', 'Chocolate Fudge', 'Choco Swirl']

In [ ]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x**2 for x in range(11) if x % 2 == 0]

print(newlist)

[0, 4, 16, 36, 64, 100]

## Functions

In [19]:
def number_squared_func2(number, power=3):
    # Docstrings
    """This function squared the number to the power

    Args:
        number (int): base number
        power (int):  defaults to 3
    """

    print(number**power)


number_squared_func2(2, 5)
number_squared_func2(2)

32
8

### Arbitrary arguments

> known as varargs or variable-length arguments, allow a function to accept an arbitrary number of arguments. This is useful when you don't know in advance how many arguments will be passed to the function.

In [21]:
def calculate_sum(*args):
    total_sum = sum(args)
    print(total_sum)


calculate_sum(5, 10, 15, 20)

50

### Keyword arguments

> known as named arguments, allow you to pass arguments to a function using the parameter names. This provides clarity and avoids confusion when calling functions with multiple arguments.

In [20]:
args_tuple = (5, 6, 1, 2, 8)


def number_args(*number):
    print(number[0] * number[1])


number_args(*args_tuple)

30

### Arbitrary keyword arguments

> known as kwargs (keyword arguments), allow a function to accept an arbitrary number of named arguments. This is useful when you want to provide flexibility and handle various parameters without explicitly defining them.

In [25]:
def number_kwarg(**number):
    print(
        "My number is: "
        + number["integer"]
        + "\n"
        + "My other number: "
        + number["integer2"]
    )


number_kwarg(integer="2309", integer2="349")

My number is: 2309
My other number: 349

In [30]:
def number_kwargs2(**Names):
    for key, value in Names.items():
        print(key + ": " + value)


number_kwargs2(Name="Alex", Name2="Sally", abc="234")

Name: Alex
Name2: Sally
abc: 234

In [31]:
def wild_function(one, *two, **three):
    print(one)
    print(two[0], two[2])
    print(three.items())


my_dict2 = {"One": "Johnny", "Two": "Ebenezer", "Three": "Kanye"}
wild_function(23, *["Welp", 24, "Howdy! "], **my_dict2)

23
Welp Howdy!
dict_items([('One', 'Johnny'), ('Two', 'Ebenezer'), ('Three', 'Kanye')])

## Built-in Functions

### range()

In [ ]:
for number in range(5):
    print(number)

0
1
2
3
4

In [ ]:
num_range = range(1, 30)
for number in num_range:
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18
21
24
27

In [ ]:
# range(start, stop, step)
num_range = range(0, 1001, 100)

for number in num_range:
    print(number)

0
100
200
300
400
500
600
700
800
900
1000

### enumerate()

In [18]:
my_list = ["Monkey", "Dog", "Ferret"]
list(enumerate(my_list))
# list(enumerate(my_list, 5))

[(0, 'Monkey'), (1, 'Dog'), (2, 'Ferret')]

### strip()

In [23]:
my_list = ["0Rocky Road", "1Chocolate", "2Strawberry"]
new_list = []

for word in my_list:
    cleaned_word = word.strip("0123456789")
    new_list.append(cleaned_word)

print(new_list)

['Rocky Road', 'Chocolate', 'Strawberry']

In [24]:
my_list = ["0Rocky Road", "1Chocolate", "2Strawberry"]
new_list = [word.strip("0123456789") for word in my_list]
print(new_list)

['Rocky Road', 'Chocolate', 'Strawberry']

### replace()

In [26]:
sentence = "I.love.harmonicas.on.the.beach."
sentence.replace(".", " ", 5)

'I love harmonicas on the beach.'

In [28]:
random_text = "I do not know, I do not know, I do not know!"
random_text.replace("I do not know", "I do know")

'I do know, I do know, I do know!'

### join()

In [29]:
my_list = ["I", "Love", "You!"]
" ".join(my_list)

'I Love You!'

In [30]:
my_dict = {"one": "I", "two": "Love", "three": "You!"}
".".join(my_dict.values())

'I.Love.You!'

## Try/Except Statements

In [7]:
x, y = 5, 10

try:  #Run this code
    print(z)
except NameError:
    print("Variable not defined")
except Exception as e:
    print(e)
except:  # Execute this code when there is an exception
    print("There was an error!")
else:  #No exceptions? Run this code.
    print("ELSE WAS TRIGGERED")
finally:
    print("This will always run")

    
print("This is more code we want to run")

Variable not defined
This will always run
This is more code we want to run

## Exercises

### Exercise 1: Unit of Measurement Converter

In [8]:
convert_from = input("Enter Starting Unit of Measurement (inches, feet, yards): ")
convert_to = input("Enter Unit of Measurement to Convert to (inches, feet, yards): ")
if convert_from.lower() in ["inches", "in", "inch"]:
    number_of_inches = float(input("Enter Starting Measurement in Inches: "))
    if convert_to.lower() in ["feet", "foot", "ft"]:
        print("Result: " + str(number_of_inches) + " Inches = " + str(round(number_of_inches / 12, 2)) + " Feet")
    elif convert_to.lower() in ["yards", "yard", "yds", "yd"]:
        print("Result: " + str(number_of_inches) + " Inches = " + str(round(number_of_inches / 36, 2)) + " Yards")
    else:
        print("Please Enter either Inches, Feet, or Yards.")
elif convert_from.lower() in ["feet", "foot", "ft"]:
    number_of_feet = float(input("Enter Starting Measurement in Feet: "))
    if convert_to.lower() in ["inches","in", "inch"]:
        print("Result: " + str(number_of_feet) + " Feet = " + str(round(number_of_feet * 12)) + " Inches")
    elif convert_to.lower() in ["yards", "yard", "yds", "yd"]:
        print("Result: " + str(number_of_feet) + " Feet = " + str(round(number_of_feet / 3, 2)) + " Yards")
    else:
        print("Please Enter either Inches, Feet, or Yards.")
elif convert_from.lower() in ["yards", "yard", "yds", "yd"]:
    num_yards = float(input("Enter Starting Measurement in Yards: "))
    if convert_to.lower() in ["inches", "in", "inch"]:
        print("Result: " + str(num_yards) + " Yards = " + str(round(num_yards * 36)) + " Inches")
    elif convert_to.lower() in ["feet", "foot", "ft"]:
        print("Result: " + str(num_yards) + " Yards = " + str(round(num_yards * 3)) + " Feet")
    else:
        print("Please Enter either Inches, Feet, or Yards.")
else:
    print("Please Enter either Inches, Feet, or Yards.")

Result: 5.0 Feet = 1.67 Yards

### Exercise 2: Calculator

In [8]:
def add(x, y):
    return x + y


def subtract(x, y):
    return x - y


def multiply(x, y):
    return x * y


def divide(x, y):
    return x / y


print("Enter 'A' for Addition.")
print("Enter 'S' for Subtraction.")
print("Enter 'M' for Multiplication.")
print("Enter 'D' for Division.")

while True:
    choice = input("Enter Choice (A, S, M, D): ")
    if choice.upper() in (
        "A",
        "ADD",
        "ADDITION",
        "S",
        "SUBTRACT",
        "SUBTRACTION",
        "M",
        "MULTIPLY",
        "MULTIPLICATION",
        "D",
        "DIVIDE",
        "DIVISION",
    ):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice.upper() in ("A", "ADD", "ADDITION"):
            print("Result:", num1, "+", num2, "=", add(num1, num2))
        elif choice.upper() in ("S", "SUBTRACT", "SUBTRACTION"):
            print("Result:", num1, "-", num2, "=", subtract(num1, num2))
        elif choice.upper() in ("M", "MULTIPLY", "MULTIPLICATION"):
            print("Result:", num1, "x", num2, "=", multiply(num1, num2))
        elif choice.upper() in ("D", "DIVIDE", "DIVISION"):
            print("Result:", num1, '\/', num2, "=", divide(num1, num2))
    else:
        print("Please input a correct choice.")

    next_calculation = input("Want to do another calculation? (yes/no?): ")
    if next_calculation.lower() not in ("yes", "y", "yeah"):
        break

<>:48: SyntaxWarning: invalid escape sequence '\/'
<>:48: SyntaxWarning: invalid escape sequence '\/'
/var/folders/ln/y2zb_fq101s1gcvy6lnz_0tw0000gn/T/ipykernel_15987/2927206896.py:48: SyntaxWarning: invalid escape sequence '\/'
  print("Result:", num1, '\/', num2, "=", divide(num1, num2))

Enter 'A' for Addition.
Enter 'S' for Subtraction.
Enter 'M' for Multiplication.
Enter 'D' for Division.
Result: 12.0 \/ 2.0 = 6.0